USE [master]
GO
/****** Object:  Database [AuthDb]    Script Date: 11/29/2018 12:18:54 PM ******/
CREATE DATABASE [AuthDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuthDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AuthDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuthDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AuthDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuthDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuthDb]
GO
/****** Object:  Table [dbo].[DateFormat]    Script Date: 11/29/2018 12:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateFormat](
	[DateFormatID] [int] NOT NULL,
	[FormatExpr] [nvarchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_DateFormat] PRIMARY KEY CLUSTERED 
(
	[DateFormatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localization]    Script Date: 11/29/2018 12:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localization](
	[ID] [int] NOT NULL,
	[CultureName] [nvarchar](50) NOT NULL,
	[ResourceName] [nvarchar](200) NOT NULL,
	[ResourceKey] [nvarchar](100) NOT NULL,
	[ResourceValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Localization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 11/29/2018 12:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [nvarchar](200) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Token] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ExpiresOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 11/29/2018 12:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[TenantID] [int] NOT NULL,
	[TenantCode] [nvarchar](30) NOT NULL,
	[TenantName] [nvarchar](200) NOT NULL,
	[SigningKey] [nvarchar](100) NOT NULL,
	[APIKey] [nvarchar](100) NOT NULL,
	[HostName] [nvarchar](200) NULL,
	[DatabaseName] [nvarchar](200) NOT NULL,
	[DateFormatID] [int] NOT NULL,
	[LicenseID] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
